body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Quicksand', sans-serif;
    #navbar{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #171A2E;
        ul{
            display: flex;
            justify-content: space-between;
            list-style: none;
            margin: 0;
            padding: 4% 10%;
            a{
                text-decoration: none;
                color: #fff;
                text-transform: uppercase;
            }
            }
        }
    #welcome-section{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-color: #F1F1F1;
        font-weight: 300;
        
    
    }
    section{
        
        .section-title{
            text-align: center;
            text-transform: uppercase;
        }
    }
    #projects{
        .projects-wrapper{
            .project-tile{
                padding: 10%;
                color: #fff;
                .btn{
                    color: #fff;
                    text-decoration: none;
                    background-color: rgb(64, 88, 110);
                    padding: 8px 12px;
                }
            }
            .project-tile{
                background-image: url("https://cdn.pixabay.com/photo/2016/11/30/20/58/programming-1873854_960_720.png");
                background-position: center;
                background-size: cover;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 20px;
            }
            .project-2,
            .project-4{
                background-image: url("https://cdn.pixabay.com/photo/2016/02/19/11/19/computer-1209641_960_720.jpg");
            }
        }
    }
    #contact{
        background-image:linear-gradient(rgba(0,0,0,0.7)),
         url("https://cdn.pixabay.com/photo/2017/05/09/10/59/mount-fuji-2297961_960_720.jpg");
        background-size: cover;
        background-position: center;
        padding: 12%;
        .section-title{
            color: #fff;
        }
        ul{
            display: flex;
            justify-content: space-between;
            list-style: none;
            padding: 4% 8%;
            margin: 0;
            i{
                color: #fff;
                font-size: 42px;
                &:hover{
                    color: cadetblue;
                }
            }
        }
    }
    

}

@media(min-width:768px){
    body{
        #navbar{
            
            ul{
                padding: 2% 8%;
            }
        }
        .projects-wrapper{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            .project-tile{
                flex-basis: 25%;
            }
        }
    }
    
}
